<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta charset="UTF-8">
  <link rel="icon" href="{{ site.logo }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex/dist/katex.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex/dist/contrib/copy-tex.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs/themes/prism.css">
  <script defer src="https://cdn.jsdelivr.net/npm/prismjs/components/prism-core.min.js"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/prismjs/plugins/autoloader/prism-autoloader.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex/dist/contrib/auto-render.min.js" onload="renderMathInElement(document.body);"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex/dist/contrib/copy-tex.min.js"></script>
  <title>{{ page.title }} | {{ site.title }}</title>
</head>

<body>
  <div class="wrapper">
    {% if page.title != 'Home' %}
    <a href="{{ "/" | absolute_url }}"> {{ site.title }} </a>
    {% endif %}
    <section>

      {{ content }}

    </section>
    <footer>
      <small>
        {% if page.categories %}
        Categories: {% for cat in page.categories %} {{ cat }} {% endfor %}
        <br>
        {% endif %}
        Hosted on <a href='https://github.com/tao-harald/tao-harald.github.io'>GitHub Pages</a>, thanks <a href='https://github.com/pages-themes/minimal'> Minimal theme </a> , <a href='https://github.com/vincentdoerig/latex-css'> LaTeX.css</a> , <a href='https://katex.org/'> KaTeX</a>.
      </small>
    </footer>
  </div>
</body>

</html>