<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/latex.css/style.min.css" />
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <title>{{ page.title }} | {{ site.title }}</title>
</head>

<body>
  <div class="wrapper">
    {% if page.title != 'Home' %}
    <a href="{{ "/" | absolute_url }}"> {{ site.title }} </a>
    {% endif %}
    <br />  <br />
    <section>

      {{ content }}

    </section>
    <footer>
      <p><small>Hosted on GitHub Pages, thanks <a href='https://github.com/pages-themes/minimal'> minimal</a> , <a href='https://github.com/vincentdoerig/latex-css'> latex-css</a></small>.
      </p>
    </footer>
  </div>
</body>

</html>